.idea/
*.iml
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform
test/stages/module
test/stages/.terraform.lock.hcl
test/stages/.terraform
test/stages/terraform.tfstate
test/stages/terraform.tfstate.backup
test/stages/terraform.tfvars
swe-pri-key
swe-pub-key
test/stages/swe-pri-key
test/stages/swe-pub-key
.DS_Store
aws.code-workspace
.vscode
